.about-page {
  font-family: Quicksand, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  .gainsight-logo {
    height: 55px;
    cursor: pointer;
  }
  .shadow {
    box-shadow: inset 0 -6px 0 rgba(184,107,255,.2);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
